body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #8BC34A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
header h1 {
  margin: 0;
}

.section-hero {
  margin-top: 100px;
  height: 200px;
}

nav ul {
  margin: 0;
  padding-left: 0;
}
nav li {
  display: inline-block;
  list-style: none;
}

footer {
  background: #ddd;
  padding: 20px;
}
footer p {
  font-size: 0.6rem;
  margin: 0;
}

/* media query */
