$primary-color-dark:   #689F38
$primary-color:        #8BC34A
$primary-color-light:  #DCEDC8
$primary-color-text:   #212121
$accent-color:         #4CAF50
$primary-text-color:   #212121
$secondary-text-color: #757575
$divider-color:        #BDBDBD

@mixin gradient($color1, $color2)
  background: $color1
  background: -webkit-linear-gradient(to bottom, $color1, $color2)
  background: linear-gradient(to bottom, $color1, $color2)

// *
//   border: 1px solid red

body
  font-family: 'Nunito', sans-serif
  font-size: 22px
  margin: 0
  
a
  color: white
  text-decoration: none

h1, h2, p
  margin: 0

form
  display: flex

input
  background: none
  border: 3px solid white
  color: white
  font-family: inherit
  font-size: inherit

input[type=email]
  padding: 10px 15px
  border-radius: 10px

input[type=submit]
  border: none

header
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  padding: 20px
  background: none
  position: absolute
  top: 0
  left: 0
  right: 0

  nav 
    ul
      margin: 0
      padding-left: 0
    li
      display: inline-block
      list-style: none

.sticky
  position: fixed
  top: 0
  background: $primary-color
  font-size: 0.9rem

  @media screen and (min-width: 480px)
    flex-direction: row

.section-hero
  @include gradient(#00b09b, $primary-color)
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: white
  padding: 20px
  text-align: center

  p
    margin-bottom: 10px

.about-box, .package-box
  padding: 20px 30px
  text-align: center
  p
    text-align: left

.section-about, .section-reviews, .section-packages
  display: flex
  flex-direction: column

  @media screen and (min-width: 900px)
    flex-direction: row
    padding: 20px 50px

.about-box
  img
    width: 200px
    height: 200px
    border-radius: 50%

.section-video 
  background: $primary-color-light
  display: flex
  justify-content: space-around
  padding: 40px

  iframe
    max-width: 560px
    width: 100%

.section-reviews
  padding: 20px 40px

.review-box
  font-size: 1.1rem
  padding: 10px
  margin-bottom: 20px

.review-bar
  display: flex
  justify-content: space-between

  p
    color: black
    font-size: 0.9rem

  em, i
    color: $primary-color-dark

  @media screen and (min-width: 900px)
    flex-direction: column
.section-packages
  justify-content: space-around

.section-signup
  @include gradient(#00b09b, $primary-color)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 20px
  height: 200px

footer
  background: #ddd
  padding: 20px
  p
    font-size: 0.9rem
    margin: 0